---

- name: create glauth configuration directory
  ansible.builtin.file:
    path: "{{ glauth_ui_config_dir }}"
    state: directory
    owner: root
    group: "{{ glauth_ui_system_group }}"
    mode: 0775

- name: create link to locales
  ansible.builtin.file:
    state: link
    src: "{{ glauth_ui_install_path }}/locales"
    dest: "{{ glauth_ui_config_dir }}/locales"
    force: true
    follow: false

- name: create certificate directory
  ansible.builtin.file:
    path: "{{ glauth_ui_config_dir }}/certs"
    state: directory
    owner: "{{ glauth_ui_system_user }}"
    group: "{{ glauth_ui_system_group }}"
    mode: 0770

- name: create glauth-ui.conf
  ansible.builtin.template:
    src: "glauth-ui/glauth-ui.cfg.j2"
    dest: "{{ glauth_ui_config_dir }}/glauth-ui.cfg"
    force: true
    owner: root
    group: "{{ glauth_ui_system_group }}"
    mode: 0664
  notify:
    - validate config
    - reload glauth-ui

- name: add user {{ glauth_ui_system_user }} to glauth group
  ansible.builtin.user:
    name: "{{ glauth_ui_system_user }}"
    groups: "{{ glauth_ui_add_to_group }}"
    append: true
    state: present
  when:
    - glauth_ui_add_to_group is defined
    - glauth_ui_add_to_group | string | length > 0

- name: restart glauth-ui if needed
  ansible.builtin.meta: flush_handlers

...
