---

- name: download glauth-ui binary archive
  become: false
  delegate_to: "{{ glauth_ui_delegate_to }}"
  run_once: "{{ 'false' if glauth_ui_direct_download else 'true' }}"
  get_url:
    # https://github.com/yvesago/glauth-ui-light/releases/download/v1.4.3/glauth-ui
    url: "{{ glauth_ui_release_download_url }}/download/v{{ glauth_ui_version }}/glauth-ui"
    dest: "{{ glauth_ui_local_tmp_directory }}/glauth-ui"
    mode: 0644
  register: _download_archive
  until: _download_archive is succeeded
  retries: 5
  delay: 2
  check_mode: false

- name: download glauth-ui locales archive
  become: false
  delegate_to: "{{ glauth_ui_delegate_to }}"
  run_once: "{{ 'false' if glauth_ui_direct_download else 'true' }}"
  get_url:
    url: "{{ glauth_ui_release_download_url }}/download/v{{ glauth_ui_version }}/locale-v1.4.3.tgz"
    dest: "{{ glauth_ui_local_tmp_directory }}/locale-v1.4.3.tgz"
    mode: 0640
  register: _download_archive
  until: _download_archive is succeeded
  retries: 5
  delay: 2
  check_mode: false

- name: extract glauth archive
  become: false
  delegate_to: "{{ glauth_ui_delegate_to }}"
  run_once: "{{ 'false' if glauth_ui_direct_download else 'true' }}"
  unarchive:
    src: "{{ glauth_ui_local_tmp_directory }}/locale-v1.4.3.tgz"
    dest: "{{ glauth_ui_local_tmp_directory }}"
    copy: false
  register: _extract_archive

...
