#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description      = glauth-ui, a small golang web app to manage users and groups from the db files of glauth ldap server
After            = network-online.target glauth.service

[Service]
Type             = simple
Environment      = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile  = {{ glauth_ui_defaults_directory }}/glauth-ui

User             = {{ glauth_ui_system_user }}
Group            = {{ glauth_ui_system_group }}

# ExecReload       = /bin/kill -HUP $MAINPID
ExecStart        = /usr/bin/glauth-ui $OPTIONS

LimitNOFILE      = 65000
SyslogIdentifier = glauth-ui
Restart          = on-failure

[Install]
WantedBy         = multi-user.target
